<header class="header">
  <div class="header__container">
    <h1>Colorizer</h1>
    <ng-container *ngIf="canShare && (linkToShare$ | async) as link">
      <div (click)="shareLink(link)" class="share-action">
        <span class="share-action_text">Share</span>
        <i class="fa-solid fa-share"></i>
      </div>
    </ng-container>
  </div>
</header>
<div class="container">
  <app-drawing-board></app-drawing-board>
  <app-controls></app-controls>
  <div class="code-examples">
    <ng-container *ngIf="(htmlText$ | async) as text">
      <app-code-display (copyRequest)="copyToClipboard(text)" [text]="text" label="HTML">
      </app-code-display>
    </ng-container>
    <ng-container *ngIf="(cssText$ | async) as text">
      <app-code-display (copyRequest)="copyToClipboard(text)" [text]="text" label="CSS">
      </app-code-display>
    </ng-container>
  </div>
</div>
